#header {
    border: 10px double aliceblue; 
    color: aliceblue;
    background-color:  rgb(157, 121, 240);
    font-family: cursive;
    
}
body {
    background-color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


